/* &display=swap */
@import "null.css";

body {
background: #757577 url('../img/road.jpg') 60px -351px / 1920px 1080px repeat-x;
}

.wrapper {
	max-width: 1200px;
	padding: 50px 0 0 0;
	margin: 0 auto;
}


.logo {
	margin: 0 auto 20px auto;
	width: 770px;
}
.nissan {
	display: inline-block;
	width: 100px;
	height: 100px;
}
.skyline {
	display: inline-block;
	width: 300px;
	height: 100px;
}
.gt-r {
	display: inline-block;
	width: 100px;
	height: 100px;
}
.nismo {
	display: inline-block;
	width: 250px;
	height: 100px;
}


.car {
	width: 1200px;
	height: 400px;
	position: relative;
}


.front__base {
	width: 400px;
	height: 200px;
	background-color: rgb(34, 31, 240);
	position: absolute;
	bottom: 40px;
	left: 20px;
	border-radius: 100% 0% 100% 0% / 50% 100% 0% 50% ;
}
.front__hood1 {
	width: 200px;
	height: 30px;
	background-color: rgb(34, 31, 240);
	position: absolute;
	bottom: 180px;
	left: 50px;
	transform: rotate(-10deg);
	border-radius: 30px;
}
.front__hood2 {
	width: 50px;
	height: 30px;
	background-color: rgb(34, 31, 240);
	position: absolute;
	bottom: 140px;
	left: 15px;
	transform: rotate(-30deg);
	border-radius: 5px;
}

.front__bamper1 {
	width: 50px;
	height: 50px;
	background-color: rgb(34, 31, 240);
	position: absolute;
	bottom: 80px;
	left: 17px;
	transform: rotate(-10deg);
	border-radius: 5px;
}
.front__bamper2 {
	width: 50px;
	height: 50px;
	background-color: rgb(34, 31, 240);
	position: absolute;
	bottom: 40px;
	left: 20px;
	transform: skew(-20deg);
}
.front__air-intake1 {
	width: 25px;
	height: 30px;
	background-color: #000;
	position: absolute;
	bottom: 75px;
	left: 40px;
	border-radius: 73% 27% 91% 9% / 0% 83% 17% 100% ;
}
.front__air-intake2 {
	width: 22px;
	height: 18px;
	background-color: #000;
	position: absolute;
	bottom: 50px;
	left: 40px;
	border-radius: 5px;
}
.front__air-intake3 {
	width: 30px;
	height: 60px;
	background-color: #000;
	position: absolute;
	bottom: 65px;
	left: 135px;
	transform: skew(-7deg);
	border-radius: 5px;
	border-radius: 100% 0% 0% 100% / 100% 0% 100% 0% ;
}
.front__lights1 {
	width: 60px;
	height: 35px;
	background-color: rgb(179, 243, 237);
	position: absolute;
	bottom: 140px;
	left: 40px;
	border-radius: 100% 0% 100% 0% / 44% 95% 5% 56% ;
	transform: skew(-20deg);
	border: 2px solid #000;
	perspective: 60px;
	
}
.front__lights1:hover .front__lights-active {
	opacity: 1;
}
.front__lights1:hover {
	box-shadow: 0 0 100px 20px rgb(179, 243, 237);
	border: none;
}
.front__lights-active {
	opacity: 0;
	width: 105px;
	height: 60px;
	background: rgb(31,187,178);
	background: linear-gradient(90deg, rgba(31,187,178,0.0001) 0%, rgba(107,228,237,1) 35%, rgba(255,255,255,0.8) 100%);
	transform: translatex(-150px) matrix(1.3, 0.3, 0, 0.5, 55, -10) rotatey(70deg);
}


.front__lights2 {
	width: 20px;
	height: 20px;
	background-color: rgb(223, 164, 13);
	position: absolute;
	bottom: 110px;
	left: 40px;
	border-radius: 3px;
}



.center__base {
	width: 600px;
	height: 200px;
	background-color: rgb(34, 31, 240);
	position: absolute;
	bottom: 40px;
	left: 30%;
}
.center__top1 {
	width: 255px;
	height: 200px;
	background-color: rgb(34, 31, 240);
	border-radius: 20px;
	position: absolute;
	top: 13.3%;
	left: 44.6%;
}
.center__top2 {
	width: 300px;
	height: 100px;
	background-color: rgb(34, 31, 240);
	border-radius: 5px;
	position: absolute;
	top: 27.7%;
	left: 61.4%;
	transform: rotate(25deg);
}
.center__top3 {
	width: 300px;
	height: 100px;
	background-color: rgb(34, 31, 240);
	border-radius: 10px;
	position: absolute;
	top: 30%;
	left: 24.8%;
	transform: rotate(-30deg);
}
.center__front-window {
	width: 25px;
	height: 95px;
	background-color: rgb(2, 1, 59);
	position: absolute;
	top: 15%;
	left: 38.1%;
	border: 2px solid #000;
	border-right: 4px solid #000;
	border-left: none;
	transform: skew(-60deg);
}
.center__side-window1 {
	width: 120px;
	height: 95px;
	background-color: rgb(2, 1, 59);
	position: absolute;
	top: 15%;
	left: 44%;
	transform: skew(-53deg);
	border: 2px solid #000;
	border-left: 4px solid #000;
}
.center__side-window2 {
	width: 160px;
	height: 95px;
	background-color: rgb(2, 1, 59);
	position: absolute;
	top: 15%;
	left: 54%;
	transform: skew(50deg);
	border: 2px solid #000;
	border-left: none;
	border-left: none;
	border-right: 4px solid #000;
}
.center__side-window3 {
	width: 120px;
	height: 55px;
	background-color: rgb(2, 1, 59);
	position: absolute;
	top: 25%;
	left: 48.5%;
	border-bottom: 2px solid #000;
}
.center__side-window4 {
	width: 20px;
	height: 95px;
	background-color: rgb(34, 31, 240);
	position: absolute;
	top: 15%;
	left: 59%;
	border-right: 2px solid #000;
	border-left: 2px solid #000;
	transform: skew(10deg);
}
.center__rear-window1 {
	width: 25px;
	height: 75px;
	background-color: rgb(2, 1, 59);
	position: absolute;
	top: 15%;
	left: 70.3%;
	transform: skew(65deg);
	border: 2px solid #000;
	border-left: none;
	border-right: none;
	z-index: 1;
}
.center__rear-window2 {
	width: 20px;
	height: 75px;
	background-color: rgb(2, 1, 59);
	position: absolute;
	top: 15%;
	left: 69.5%;
	transform: skew(62deg);
	border: 2px solid #000;
	border-left: 4px solid #000;
	border-right: none;
	z-index: 1;
}

.center__mirror1 {
	width: 50px;
	height: 25px;
	background-color: rgb(34, 31, 240);
	position: absolute;
	z-index: 21;
	top: 125px;
	left: 495px;
	border-radius: 80px 50px 80px 30px;
	transform: rotate(-5deg);
	border: 2px solid #000;
	border-left: none;
	border-bottom: none;
}
.center__mirror2 {
	width: 50px;
	height: 7px;
	background-color: rgb(34, 31, 240);
	position: absolute;
	z-index: 20;
	top: 147px;
	left: 460px;
	border-radius: 80px 50px 80px 30px;
	transform: rotate(-5deg);
	border: 2px solid #000;
	border-left: none;
}
.center__door {
	width: 300px;
	height: 160px;
	background-color: transparent;
	position: absolute;
	z-index: 20;
	top: 154px;
	left: 35.5%;
	border: 2px solid #000;
	border-radius: 30px 30px 80px 30px;
	transform: skew(-10deg);
}
.center__door-lock1 {
	width: 55px;
	height: 18px;
	background-color: rgb(34, 31, 240);
	position: absolute;
	z-index: 20;
	top: 170px;
	left: 660px;
	border: 2px solid #000;
	border-radius: 50px 30px 80px 30px;
}
.center__door-lock2 {
	width: 40px;
	height: 18px;
	background-color: transparent;
	position: absolute;
	z-index: 19;
	top: 175px;
	left: 665px;
	border: 2px solid #000;
	border-radius: 00px 30px 80px 30px;
}


.back__base1 {
	width: 400px;
	height: 220px;
	background-color: rgb(34, 31, 240);
	position: absolute;
	bottom: 40px;
	right: 20px;
	border-radius: 93% 7% 81% 19% / 31% 77% 23% 69%;
}
.back__base2 {
	width: 300px;
	height: 30px;
	background-color: rgb(34, 31, 240);
	position: absolute;
	bottom: 234px;
	right: 40px;
	border-radius: 93% 7% 81% 19% / 31% 77% 23% 69%;
	transform: rotate(2deg);
}
.back__bamper {
	width: 400px;
	height: 70px;
	background-color: rgb(34, 31, 240);
	position: absolute;
	bottom: 100px;
	right: 12px;
	border-radius: 10px;
	transform: rotate(-7deg);
}
.back__rear-lights1 {
	width: 20px;
	height: 65px;
	background-color: rgb(255, 0, 0);
	position: absolute;
	bottom: 190px;
	right: 35px;
	border-radius: 50%;
	transform: rotate(-10deg);
}
.back__rear-lights1:hover {
		box-shadow: 0px 0px 20px 5px rgb(253, 0, 0);
}
.back__rear-lights2 {
	width: 12px;
	height: 35px;
	background-color: rgb(236, 141, 17);
	position: absolute;
	bottom: 205px;
	right: 38px;
	border-radius: 50%;
	transform: rotate(-10deg);
}
.back__rear-lights2:hover {
	box-shadow: 0px 0px 10px 5px rgb(236, 141, 17);
}
.back__spoiler1 {
	width: 45px;
	height: 70px;
	background-color: rgb(34, 31, 240);
	position: absolute;
	bottom: 245px;
	right: 65px;
	border-radius: 87% 13% 0% 100% / 100% 0% 100% 0% ;
	transform: rotate(10deg);
}
.back__spoiler2 {
	width: 80px;
	height: 25px;
	background-color: rgb(34, 31, 240);
	position: absolute;
	bottom: 285px;
	right: 43px;
	border-radius: 5% 95% 25% 75% / 34% 0% 100% 66% ;
	transform: rotate(-5deg);
}

.wheels {
	position: absolute;
	bottom: 0;
	left: 178px;
}
.wheels__rotate {
	position: relative;
	transition: all 5s ease 0s;
	transform-origin: 90px -90px;
	z-index: 1;
}
.wheels:hover .wheels__rotate {
	transform: rotate(-2880deg);
}
.wheels__disk1 {
	width: 135px;
	height: 135px;
	background-color: rgb(58, 58, 58);
	border-radius: 50%;
	position: absolute;
	bottom: 22px;
	left: 22px;
}
.wheels__disk2 {
	width: 90px;
	height: 90px;
	background-color: rgb(58, 58, 58);
	border-radius: 50%;
	border: 2px solid #000;
	position: absolute;
	z-index: 5;
	bottom: 45px;
	left: 45px;
}
.wheels__support {
	width: 30px;
	height: 80px;
	background-color: rgb(218, 0, 0);
	position: absolute;
	z-index: 5;
	bottom: 85px;
	left: 40px;
	border-radius: 20px;
	transform: rotate(45deg);
}
.wheels__tire1 {
	width: 180px;
	height: 180px;
	border: 20px solid rgb(58, 58, 58);
	border-radius: 50%;
	z-index: 7;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.wheels__tire2 {
	width: 145px;
	height: 145px;
	border: 15px solid rgb(27, 27, 27);
	border-radius: 50%;
	position: absolute;
	z-index: 7;
	bottom: 17.5px;
	left: 17.5px;
}
.wheels__rims-center1 {
	width: 45px;
	height: 45px;
	background-color: rgb(27, 27, 27);
	border: 2px solid #000;
	border-radius: 50%;
	z-index: 10;
	position: absolute;
	bottom: 67.5px;
	left: 67.5px;
}
.wheels__rims-center2 {
	width: 30px;
	height: 30px;
	background-color: rgb(58, 58, 58);
	border: 2px solid #000;
	border-radius: 50%;
	z-index: 10;
	position: absolute;
	bottom: 75px;
	left: 75px;
}
.wheels__rims-star1 {
	width: 150px;
	height: 20px;
	background-color: rgb(19, 19, 19);
	position: absolute;
	z-index: 6;
	bottom: 80px;
	left: 15px;
	border-radius: 50%;
}
.wheels__rims-star2 {
	width: 150px;
	height: 20px;
	background-color: rgb(19, 19, 19);
	position: absolute;
	z-index: 6;
	bottom: 80px;
	left: 15px;
	border-radius: 50%;
	transform: rotate(60deg);
}
.wheels__rims-star3 {
	width: 150px;
	height: 20px;
	background-color: rgb(19, 19, 19);
	position: absolute;
	z-index: 6;
	bottom: 80px;
	left: 15px;
	border-radius: 50%;
	transform: rotate(-60deg);
}
.wheels__arc {
	width: 200px;
	height: 190px;
	border: 4px solid #000;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-radius: 50% 50% 0 0;
	z-index: 7;
	position: absolute;
	bottom: 0px;
	left: -10px;
}
.wheels__nismo-tire {
	width: 40px;
	height: 12px;
	position: absolute;
	z-index: 10;
	bottom: 85px;
	left: 110px;
}
.wheels__black1 {
	position: absolute;
	width: 190px;
	height: 180px;
	background-color: #000;
	border-radius: 50%;
	left: -5px;
	bottom: 5px;
	z-index: 0;
}

.wheels__black2 {
	position: absolute;
	width: 190px;
	height: 50px;
	background-color: #000;
	bottom: 40px;
	left: -5px;
}




.wheels2 {
	position: absolute;
	bottom: 0;
	right: 360px;
}
.wheels2__rotate {
	position: relative;
	transition: all 5s ease 0s;
	transform-origin: 90px -90px;
	z-index: 1;
}

.wheels2:hover .wheels2__rotate {
	transform: rotate(-2880deg);
}

.wheels2__disk1 {
	width: 135px;
	height: 135px;
	background-color: rgb(58, 58, 58);
	border-radius: 50%;
	position: absolute;
	bottom: 22px;
	left: 22px;
}
.wheels2__disk2 {
	width: 90px;
	height: 90px;
	background-color: rgb(58, 58, 58);
	border-radius: 50%;
	border: 2px solid #000;
	position: absolute;
	z-index: 5;
	bottom: 45px;
	left: 45px;
}
.wheels2__support {
	width: 30px;
	height: 80px;
	background-color: rgb(218, 0, 0);
	position: absolute;
	z-index: 5;
	bottom: 85px;
	left: 40px;
	border-radius: 20px;
	transform: rotate(45deg);
}
.wheels2__tire1 {
	width: 180px;
	height: 180px;
	border: 20px solid rgb(58, 58, 58);
	border-radius: 50%;
	z-index: 7;
	position: absolute;
	bottom: 0px;
	left: 0px;

}
.wheels2__tire2 {
	width: 145px;
	height: 145px;
	border: 15px solid rgb(27, 27, 27);
	border-radius: 50%;
	position: absolute;
	z-index: 7;
	bottom: 17.5px;
	left: 17.5px;
}
.wheels2__rims-center1 {
	width: 45px;
	height: 45px;
	background-color: rgb(27, 27, 27);
	border: 2px solid #000;
	border-radius: 50%;
	z-index: 10;
	position: absolute;
	bottom: 67px;
	left: 67px;
}
.wheels2__rims-center2 {
	width: 30px;
	height: 30px;
	background-color: rgb(58, 58, 58);
	border: 2px solid #000;
	border-radius: 50%;
	z-index: 10;
	position: absolute;
	bottom: 75px;
	left: 75px;
}
.wheels2__rims-star1 {
	width: 150px;
	height: 20px;
	background-color: rgb(19, 19, 19);
	position: absolute;
	z-index: 6;
	bottom: 80px;
	left: 15px;
	border-radius: 50%;
}
.wheels2__rims-star2 {
	width: 150px;
	height: 20px;
	background-color: rgb(19, 19, 19);
	position: absolute;
	z-index: 6;
	bottom: 80px;
	left: 15px;
	border-radius: 50%;
	transform: rotate(60deg);
}
.wheels2__rims-star3 {
	width: 150px;
	height: 20px;
	background-color: rgb(19, 19, 19);
	position: absolute;
	z-index: 6;
	bottom: 80px;
	left: 15px;
	border-radius: 50%;
	transform: rotate(-60deg);
}
.wheels2__arc {
	width: 200px;
	height: 190px;
	border: 4px solid #000;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-radius: 50% 50% 0 0;
	z-index: 7;
	position: absolute;
	bottom: 0px;
	left: -10px;
}
.wheels2__nismo-tire {
	width: 40px;
	height: 12px;
	position: absolute;
	z-index: 100;
	bottom: 85px;
	left: 110px;
}

.wheels2__black1 {
	position: absolute;
	width: 190px;
	height: 180px;
	background-color: #000;
	border-radius: 50%;
	left: -5px;
	bottom: 5px;
	z-index: 0;
}

.wheels2__black2 {
	position: absolute;
	width: 190px;
	height: 50px;
	background-color: #000;
	bottom: 43px;
	left: -5px;
	transform: skewY(-2deg);
}



.front-lines__line1 {
	width: 295px;
	height: 2px;
	background-color:  rgb(36, 36, 36);
	position: absolute;
	bottom: 205px;
	left: 90px;
	transform: rotate(-12deg);
	border-radius: 30%;
}
.front-lines__line2 {
	width: 315px;
	height: 15px;
	border-top: 3px solid rgb(36, 36, 36);
	background-color:  transparent;
	position: absolute;
	bottom: 200px;
	left: 48px;
	transform: rotate(-11deg);
	border-radius: 50%;
}
.front-lines__line3 {
	width: 140px;
	height: 2px;
	background-color:  rgb(36, 36, 36);
	position: absolute;
	bottom: 133px;
	left: 20px;
	border-radius: 30%;
}
.front-lines__line4 {
	width: 80px;
	height: 2px;
	background-color:  rgb(36, 36, 36);
	position: absolute;
	bottom: 106px;
	left: 20px;
	border-radius: 30%;
}
.front-lines__line5 {
	width: 50px;
	height: 2px;
	background-color:  rgb(36, 36, 36);
	position: absolute;
	bottom: 70px;
	left: 20px;
	border-radius: 30%;
}
.front-lines__line6 {
	width: 45px;
	height: 2px;
	background-color:  rgb(36, 36, 36);
	position: absolute;
	bottom: 236px;
	left: 360px;
	border-radius: 30%;
	transform: rotate(3deg);
}

.center-lines__line1 {
	width: 465px;
	height: 2px;
	background-color:  rgb(36, 36, 36);
	position: absolute;
	bottom: 100px;
	left: 365px;
	border-radius: 30%;
	transform: rotate(-1deg);
}
.center-lines__line2 {
	width: 380px;
	height: 8px;
	border: 2px solid rgb(36, 36, 36);
	position: absolute;;
	background-color:  transparent;
	position: absolute;
	bottom: 160px;
	left: 400px;
	border-radius: 50%;
	transform: rotate(-1.5deg);
}
.center-lines__line3 {
	width: 380px;
	height: 2px;
	background-color:  rgb(36, 36, 36);
	position: absolute;
	bottom: 60px;
	left: 400px;
	border-radius: 30%;
	transform: rotate(-0.5deg);
}

.back-lines__line1 {
	width: 380px;
	height: 14px;
	border: 2px solid rgb(36, 36, 36);
	position: absolute;;
	background-color:  transparent;
	position: absolute;
	bottom: 200px;
	right: 90px;
	border-radius: 50%;
	transform: rotate(-3deg);
}
.back-lines__line2 {
	width: 140px;
	height: 2px;
	background-color:  rgb(36, 36, 36);
	position: absolute;
	bottom: 179px;
	right: 70px;
	border-radius: 50%;
	transform: rotate(-3deg);
}
.back-lines__line3 {
	width: 70px;
	height: 2px;
	background-color:  rgb(36, 36, 36);
	position: absolute;
	bottom: 218px;
	right: 36px;
	border-radius: 30%;
	transform: rotate(-90deg);
}
.back-lines__line4 {
	width: 130px;
	height: 7px;
	border: 2px solid rgb(36, 36, 36);
	position: absolute;
	bottom: 90px;
	right: 25px;
	border-radius: 40%;
	transform: rotate(-8deg);
}
.back-lines__line5 {
	width: 50px;
	height: 2px;
	background-color:  rgb(36, 36, 36);
	position: absolute;
	bottom: 298px;
	right: 60px;
	border-radius: 50%;
	transform: rotate(-4deg);
}

.clouds {
	position: absolute;
	right: 0;
	bottom: 0;
}
.clouds > * {
	opacity: 0;
	transition: all 2s ease 0s;
}
.clouds__cloud1 {
	height: 20px;
	width: 20px;
	background-color: rgba(190, 190, 190, 0.5);
	border-radius: 50%;
	position: absolute;
	right: 195px;
	bottom: 0;
}

.clouds__cloud2 {
	height: 30px;
	width: 30px;
	background-color: rgba(190, 190, 190, 0.5);
	border-radius: 50%;
	position: absolute;
	right: 170px;
	bottom: 5px;
}

.clouds__cloud3 {
	height: 30px;
	width: 30px;
	background-color: rgba(190, 190, 190, 0.5);
	border-radius: 50%;
	position: absolute;
	right: 145px;
	bottom: 10px;
}

.clouds__cloud4 {
	height: 40px;
	width: 40px;
	background-color: rgba(190, 190, 190, 0.5);
	border-radius: 50%;
	position: absolute;
	right: 150px;
	bottom: 25px;
}

.clouds__cloud5 {
	height: 40px;
	width: 40px;
	background-color: rgba(190, 190, 190, 0.5);
	border-radius: 50%;
	position: absolute;
	right: 140px;
	bottom: 30px;
}

.clouds__cloud6 {
	height: 40px;
	width: 40px;
	background-color: rgba(190, 190, 190, 0.5);
	border-radius: 50%;
	position: absolute;
	right: 120px;
	bottom: 40px;
}

.clouds__cloud7 {
	height: 40px;
	width: 40px;
	background-color: rgba(190, 190, 190, 0.5);
	border-radius: 50%;
	position: absolute;
	right: 120px;
	bottom: 18px;
}

.clouds__cloud8 {
	height: 50px;
	width: 50px;
	background-color: rgba(190, 190, 190, 0.5);
	border-radius: 50%;
	position: absolute;
	right: 95px;
	bottom: 45px;
}

.clouds__cloud9 {
	height: 50px;
	width: 50px;
	background-color: rgba(190, 190, 190, 0.5);
	border-radius: 50%;
	position: absolute;
	right: 90px;
	bottom: 25px;
}

.clouds__cloud10 {
	height: 60px;
	width: 60px;
	background-color: rgba(190, 190, 190, 0.5);
	border-radius: 50%;
	position: absolute;
	right: 50px;
	bottom: 40px;
}
.wheels2:hover ~ .clouds > * {
	opacity: 1;
}

.arrows > *{
	position: absolute;
	height: 80px;
	width: 80px;
	background: url('../img/arrow.svg') 0 0 no-repeat;
}

.arrows__arrow1 {
	bottom: 160px;
	left: -30px;
	transform: rotate(-30deg);
}

.arrows__arrow2 {
	bottom: -40px;
	left: 130px;
	transform: rotate(250deg);
}

.arrows__arrow3 {
	bottom: -40px;
	right: 325px;
	transform: rotate(250deg);
}

.arrows__arrow4 {
	top: 130px;
	right: -50px;
	transform: rotate(100deg);
}

.arrows__arrow5 {
	top: 90px;
	right: -30px;
	transform: rotate(50deg);
}